<!--The content below is only a placeholder and can be replaced.-->
  <nav class="navbar navbar-default mm-margin">
      <div class="container">
      	<div class="row">
          	<div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About me</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
              </div>

      	</div>
      </div>
  </nav>

  <div class="jumbotron">
  <div class="container">

        <h1 id="title">Javier Buitrago Web Developer and IT Recruiter</h1>
        <p>I am a passionate Web Developer and IT Recruiter who constantly challenges himself to improve and excel.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
  </div>
